.header {
    height: 150px;
}

.title {
    margin-top: 10px;
    font-size: 55px;
    font-weight: bold;
}

.header-container {
    float: left;
}

.header-image {
    float: right;
    margin-top: 15px;
}

.nav-bar {

}

.nav a {
    font-size: 18px;
    font-weight: bold;
}

.login {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.login ul li a {
    font-size: 12px;
    width: 70px;
    float: right;
    text-align: center;
}

.login ul li a:hover {
    cursor: pointer;
}